h1 {
  font-size: calc(2rem + 1.5vw) !important;
}

h2 {
  font-size: calc(1.2rem + 1.5vw) !important;
}

h3 {
  font-size: calc(0.8rem + 1.5vw) !important;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5625rem;
}

h6 {
  font-size: 1.25rem;
}
